
<h1 style="text-align: center;"> Укажите местоположение</h1>
<div style="margin:20px;">
    <div class="form-group">
        <label >Адрес:</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group">
          <label style=" display:inline-block;">Дом и квартира:</label>
          <div style="width:100px; display:inline-block; margin:5px;"><input type="text" class="form-control" placeholder="Дом" ></div>
          <div style="width:100px;  display:inline-block; margin:5px;"><input type="text" class="form-control" placeholder="Квартира" ></div>
        </div>

</div>
<div class='toolbar'>
    <button routerLink="/step1" type="button" class="btn btn-primary">Назад</button>
  <button routerLink="/step3" type="button" class="btn btn-primary" >Далее</button>
</div>