
<h1 style="text-align: center;">Дополнительные услуги</h1>
<div style="margin:20px;">
  <div>
      <table >
          <tbody>
            <tr >
                <td> Уборка</td>
              <td><label class="switch"> 
                  <input type="checkbox">
                  <span class="slider round"></span>
              </label></td>
            </tr>
            <tr >
                <td>Трансфер</td>
              <td><input type="text" class="form-control"  style="width:100px; " ></td>
            </tr>
            <tr >
                <td>Миграционная регистрация</td>
              <td><input type="text" class="form-control"  style="width:100px; " ></td>
            </tr>
            <tr >
                <td>Отчетные документы</td>
              <td><input type="text" class="form-control"  style="width:100px; " ></td>
            </tr>
            <tr >
                <td>Завтрак</td>
              <td><input type="text" class="form-control"  style="width:100px; " ></td>
            </tr>
            <tr >
                <td>Удобства в квартире</td>
              <td><input type="text" class="form-control"  style="width:300px; " placeholder="Мангал, барбекю, стол на улице..."></td>
            </tr>
            <tr >
                <td> Интернет</td>
              <td><label class="switch"> 
                  <input type="checkbox">
                  <span class="slider round"></span>
              </label></td>
            </tr>
            <tr >
                <td>Балкон/Лоджия</td>
              <td><input type="text" class="form-control"  style="width:100px; " ></td>
            </tr>
            <tr >
                <td>Кондиционер</td>
              <td><input type="text" class="form-control"  style="width:100px; " ></td>
            </tr>
            <tr >
                <td>Сейф</td>
              <td><input type="text" class="form-control"  style="width:100px; " ></td>
            </tr>
            <tr >
                <td>Одноразовые принадлежности</td>
              <td><input type="text" class="form-control"  style="width:100px; " ></td>
            </tr>
            <tr >
                <td>Дополнительные удобства</td>
              <td><input type="text" class="form-control"  style="width:300px; " placeholder="Фен, утюг, сушилка..."></td>
            </tr>
  

          </tbody>
      </table>

</div>

</div>
<div class='toolbar'>
    <button routerLink="/step3" type="button" class="btn btn-primary">Назад</button>
  <button routerLink="/step5" type="button" class="btn btn-primary" >Далее</button>
</div>