
<h1 style="text-align: center;">Цена и бронирование</h1>
<div style="margin:20px;">
  <div>
      <table >
          <tbody>
            <tr >
                <td> Смарт цены</td>
              <td><label class="switch"> 
                  <input type="checkbox">
                  <span class="slider round"></span>
              </label></td>
            </tr>
            <tr >
                <td>Базовая цена</td>
              <td><input type="text" class="form-control"  style="width:100px; " ></td>
            </tr>
            <tr >
                <td>Минимальная цена</td>
              <td><input type="text" class="form-control"  style="width:100px; " ></td>
            </tr>
            <tr >
                <td>Максимальная цена</td>
              <td><input type="text" class="form-control"  style="width:100px; " ></td>
            </tr>
           <hr>       
            <tr >
                <td>Правила отмены бронирования</td>
              <td><input type="text" class="form-control"  style="width:100px; " ></td>
            </tr>
            <tr >
                <td>Минимальное кол-во суток</td>
              <td><input type="text" class="form-control"  style="width:300px; " placeholder="Мангал, барбекю, стол на улице..."></td>
            </tr>
            <tr >
                <td>Максимальное кол-во суток</td>
              <td><input type="text" class="form-control"  style="width:100px; " ></td>
            </tr>
            <tr >
                <td>Заезд и выезд гостя</td>
              <td><input type="text" class="form-control"  style="width:100px; display:inline-block;" ><input type="text" class="form-control"  style="width:100px; display:inline-block; " ></td>
            </tr>
            <tr >
                <td>Время на подготовку</td>
              <td><input type="text" class="form-control"  style="width:100px; " ></td>
            </tr>

          </tbody>
      </table>

</div>

</div>
<div class='toolbar'>
    <button routerLink="/step6" type="button" class="btn btn-primary">Назад</button>
  <button routerLink="/step8" type="button" class="btn btn-primary" >Далее</button>
</div>