
<h1 style="text-align: center;"> Укажите характеристики вашей квартиры</h1>
<div style="margin:20px;">
  <div>
      <table >
          <tbody>
            <tr >
                <td>Площадь жилья</td>
              <td><input type="text" class="form-control" placeholder="м2" style="width:100px; " ></td>
            </tr>
            <tr >
                <td style="margin-right: 15px;"> Студия</td>
              <td><label class="switch"> 
                  <input type="checkbox">
                  <span class="slider round"></span>
              </label></td>
            </tr>
            <tr >
                <td>Комнат</td>
              <td><input type="text" class="form-control"  style="width:100px; " ></td>
            </tr>
            <tr >
                <td>Санузлов</td>
              <td><input type="text" class="form-control"  style="width:100px; " ></td>
            </tr>
            <tr >
                <td>Макс. кол-во гостей</td>
              <td><input type="text" class="form-control"  style="width:100px; " ></td>
            </tr>
            <tr >
                <td>Спальных мест</td>
              <td><input type="text" class="form-control"  style="width:100px; " ></td>
            </tr>
            <tr >
                <td>Жилой комплекс</td>
              <td><input type="text" class="form-control"  style="width:200px; " placeholder="Название ЖК, если есть" ></td>
            </tr>
            <tr >
                <td>Этаж</td>
              <td><input type="text" class="form-control"  style="width:100px; display: inline-block;"> из <input type="text" class="form-control"  style="width:100px; display: inline-block;"></td>
            </tr>
          </tbody>
      </table>

</div>

</div>
<div class='toolbar'>
    <button routerLink="/step2" type="button" class="btn btn-primary">Назад</button>
  <button routerLink="/step4" type="button" class="btn btn-primary" >Далее</button>
</div>