
<h1 style="text-align: center;"> О жилье</h1>
<div style="margin:20px;">
  <div>
      <table >
          <tbody>
            <tr >
                <td>Название жилья</td>
              <td><input type="text" class="form-control" placeholder="м2" style="width:300px; "  placeholder="Придумайте название жилья"></td>
            </tr>
            <tr >
                <td>Описание жилья</td>
            </tr>
          </tbody>
      </table>
      <input style="width: 400px;" type="text" class="form-control"   placeholder="Нельзя включать бойлер без разрешения" >
      Опишите местность
      <input style="width: 400px;" type="text" class="form-control"   placeholder="Нельзя включать бойлер без разрешения" >
</div>

</div>
<div class='toolbar'>
    <button routerLink="/step7" type="button" class="btn btn-primary">Назад</button>
  <button type="button" class="btn btn-primary" >Далее</button>
</div>