
<h1 style="text-align: center;">Что разрешено в вашем жилье?</h1>
<div style="margin:20px;">
  <div>
      <table >
          <tbody>

            <tr >
                <td>Курение</td>
              <td><label class="switch"> 
                  <input type="checkbox">
                  <span class="slider round"></span>
              </label></td>
            </tr>
            <tr >
                <td>Питомцы</td>
              <td><label class="switch"> 
                  <input type="checkbox">
                  <span class="slider round"></span>
              </label></td>
            </tr>
            <tr >
                <td>Шум после 23:00</td>
              <td><label class="switch"> 
                  <input type="checkbox">
                  <span class="slider round"></span>
              </label></td>
            </tr>
            <tr >
                <td>Маленькие дети</td>
              <td><label class="switch"> 
                  <input type="checkbox">
                  <span class="slider round"></span>
              </label></td>
            </tr>
            <tr >
                <td>Дополнительные правила</td>
            </tr>
          </tbody>
      </table>
      <input style="width: 400px;" type="text" class="form-control"   placeholder="Нельзя включать бойлер без разрешения" >
</div>

</div>
<div class='toolbar'>
    <button routerLink="/step4" type="button" class="btn btn-primary">Назад</button>
  <button routerLink="/step6" type="button" class="btn btn-primary" >Далее</button>
</div>